body {
  background-image: url('https://raw.githubusercontent.com/brandedkaminaa/Yuss/main/girl-2013447_1280.webp'); /* Background image */ 
  background-color: #f3f2f3; /* Fallback color */ 
  background-size: cover; /* Cover the entire viewport */ 
  background-position: center; /* Center the image */ 
  margin: 0; 
  padding: 0; 
}

header {
  text-align: center;
}

#messages {
  padding-bottom: 30%;
}

li {
  list-style-type: none; 
  margin-bottom: 10px; 
  background-color: #6929ca; 
  padding: 5px; 
  border-radius: 10px; 
  color: white; 
  width: 50%; 
}

li span {
  font-style: italic;
  font-weight: bolder;
  color: #b5b0b9;
}

#chat {
  width: 80%;
  margin: auto;
}

#message-form {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D4D3D5;
}

input {
  width: 70%;
  height: 30px;
}

button {
  width: 25%;
  height: 38px;
}

.sent {
  text-align: right;
  background-color: #a79cb3;
  margin-left: 50%;
}

.sent span {
  margin-left: 5px;
  color: #6929ca;
}

.verified-icon {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  vertical-align: middle; /* Align the image with the text */
  margin-left: 5px; /* Space between username and image */
}

#clear-history-btn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#clear-history-btn:hover {
  background-color: #ff1c1c;
}

/* Popup styles */
.popup {
  position: absolute; /* Change to absolute to make it movable */
  top: 10%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateX(-50%);
}

.popup iframe {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}


#close-popup {
  position: absolute;
  top: 5px;  /* Positioned closer to the top */
  right: 5px; /* Positioned closer to the right */
  background-color: #ff5c5c;
  border: none;
  color: white;
  padding: 5px;  /* Reduced padding */
  font-size: 12px; /* Smaller size */
  cursor: pointer;
  z-index: 1002;  /* Ensure it appears above the video */
  border-radius: 50%;  /* Circular shape */
}

.drag-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;  /* Reduced padding */
  cursor: move;
  background-color: rgba(255, 255, 255, 0.5);  /* Semi-transparent background */
  color: black;
  font-size: 12px; /* Smaller font size */
  z-index: 1001; /* Ensure it appears above the video */
  border-radius: 50%; /* Circular shape */
}

/* Video Thumbnail */
.video-thumb {
  cursor: pointer;
  width: 100px;
  height: 75px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
}

.youtube-thumb {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

